html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: url("background-5594879_1280.webp");
background-size: cover;
background-position: center;
}
#logo{
    width: 40px ;
    opacity:40%
}


.login_div
{
    margin:10%;
	background: rgba(0, 0, 0, 0.95);
    float: none;border-radius: 15px;
    padding: 20px;  
}

h1{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}


button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width:150px
}

p{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px; 
}

img{
    width: 100px;
}
